

		<div >
			<div class="uk-container uk-container-expand">
				<h3 ng-bind="tt"></h3>
				<input class="" type="text" ng-model="busca" placeholder="Pesquisar aqui">	
				<table class="uk-table uk-table-hover uk-table-striped ">
					<tr>
						<th></th>
						<th></th>
						<th> <a href="" ng-click="ordenarPor('nome')">NOME</a></th>
						<th> <a href="" ng-click="ordenarPor('preco')">PREÇO</a> </th>
						<th> <a href="" ng-click="ordenarPor('quantidade')">QUANTIDADE</a> </th>
						<th>MARCA</th>
					</tr>
					<tr ng-repeat="produto in produtos | filter:busca |orderBy:criterioOrdenacao:inverterOrdenacao">
						<td> <input class="uk-checkbox" type="checkbox" name=""> </td>
						<td><img class="uk-preserve-width uk-border-circle" src="/home/cesar/FRONT-END_DEV/try/angularLprodutos/libs/uikit/img/pos1.jpg" width="60" alt=""></td>
						<td>{{produto.nome }}</td>
						<td>{{produto.preco}}</td>
						<td>{{produto.quantidade}}</td>
						<td>{{produto.marca}}</td>
					</tr>
				</table>
			</div>
		</div>